@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Aprende como construir páginas web con  <a href="https://docs.microsoft.com/aspnet/core"> ASP.NET Core</a>.</p>
</div>
